﻿
@{
    ViewBag.Title = "SignIn";
}


<section id="SignInForm">
    <div class="container-fluid">
        <div class="row">

            <h3 class="text-center">Iniciar sesión</h3>

            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group">
                        <label>Usuario</label>
                        <input class="form-control" type="text" placeholder="admin" />
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input class="form-control" type="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4">
                            <input type="submit" value="Crear cuenta" class="btn btn-primary form-control" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


