﻿@using SimpleLibraryModule.Models
@model Usuario
@{
    ViewBag.Title = "SignUp";
}

<section id="signUpSection">
    <div class="container-fluid">
        <div class="row">

            @using (Html.BeginForm("SignUp", "Auth", FormMethod.Post, new { id = "signUpForm", enctype = "multipart/form-data", onSubmit = "return ajaxUserSubmit(this)" }))
            {
                @Html.AntiForgeryToken()

                <h4>Registro</h4>
                <hr />

                <div class="row">
                    <span id="confirm-message" class="form-control" style="margin:10px" />
                </div>


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.codigo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        <label>Tipo de usuario</label>
                        <select id="tipoSelector" name="tipoSelector" class="custom-select custom-select-lg mb-3 form-control">
                            @{foreach (TipoIdentificacion T in ViewBag.userTypes)
                                {
                                    <option value=@T.id>
                                        @T.nombre
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Contraseña</label>
                        <input type="password" class="form-control" id="password1" name="password1" onkeyup="doPasswordsMatch();" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Repetir contraseña</label>
                        <input type="password" class="form-control" id="password2" name="password2" onkeyup="doPasswordsMatch();" />
                    </div>
                </div>

                <div class="col-md-offset-4">
                    <input type="submit" value="Crear cuenta" class="btn btn-primary" />
                </div>
            }

        </div>
    </div>
</section>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
